body {
  font-family: Arial;
  background: #9bbd54;
  padding: 20px;
}

form {
  background: rgb(157, 222, 172);
  padding: 20px;
  width: 300px;
}

input, select, button {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
}
